.sidebar .panel-body{
    text-align: center;
    padding:0;
}
.sidebar a.active{
    background: #F4F4F4!important;
    color: #000000!important;
    border-color: #cccccc;
}
.panel-heading ol{
    padding: 0;
    margin-bottom: 0;
}
.table .update a{
    margin-right: 5px;
    text-decoration: none!important;
}

